name: release and push to central
on:
  push:
    tags:
      - '*'
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          server-id: central
          server-username: CENTRAL_U
          server-password: CENTRAL_T
      - name: Publish to Apache Maven Central
        run: mvn -Prelease deploy
        env:
          CENTRAL_T: ${{ secrets.CENTRAL_TOKEN }}
          CENTRAL_U: ${{ secrets.CENTRAL_USER }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }}
          MAVEN_GPG_KEY: ${{ secrets.OSSRH_GPG_SECRET_KEY }}